![Immoscout](https://raw.githubusercontent.com/juliandnl/redi_ss20/master/image.png)

# Project - Immobilien Scout 24

--- 
## The description:
Welcome to your first project! Have you heard about Immobilienscout 24?  [Immobilienscout 24](https://https://www.immobilienscout24.de/). It the biggest platform for renting appartments in Germany. The company hires data analysts and data scientists for analyzing the market data. They are especially interested in the Berlin market. The company wants to understand where to publish advertisment.

--- 
## The dataset:
The datasets contains information about rental appartments in Berlin. 
One row is for one appartment. The dataset contains 6 columns.  
- Region: is the Berlin district, where the flat is located
- Condition: is the condition of the flat
- Rooms: The number of rooms the flat has
- Rent: Monthly rent for the flat
- Year_Construction: The year in which the house was build
- Space: How many square meters does the flat has?

--- 
## The Task:
1. What kind of information do we have?
2. In which conditions are the flats?
3. Where are the appartments located?

Bonus Questions:
4. What is the mean rent?

In [ ]:
# Imports
import pandas as pd

In [ ]:
# install plotly
# https://plotly.com/python/pandas-backend/
!pip install plotly==4.14.3
pd.options.plotting.backend = "plotly"

Collecting plotly==4.14.3
  Downloading https://files.pythonhosted.org/packages/1f/f6/bd3c17c8003b6641df1228e80e1acac97ed8402635e46c2571f8e1ef63af/plotly-4.14.3-py2.py3-none-any.whl (13.2MB)
     |████████████████████████████████| 13.2MB 307kB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly==4.14.3) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly==4.14.3) (1.3.3)
Installing collected packages: plotly
  Found existing installation: plotly 4.4.1
    Uninstalling plotly-4.4.1:
      Successfully uninstalled plotly-4.4.1
Successfully installed plotly-4.14.3

In [ ]:
# Read in dataset
rentals = pd.read_csv("https://raw.githubusercontent.com/juliandnl/redi_ss20/master/berlin_rental.csv")
rentals.tail()

          Region        Condition  Rooms    Rent  Year_Construction   Space
759      Wedding   mint_condition    1.0   959.0               2017   27.80
760      Wedding   mint_condition    1.0   649.0               2017   20.50
761  Wilmersdorf   mint_condition    4.0  2750.0               2017  110.00
762     Köpenick        well_kept    2.0  1259.0               2017   91.20
763     Neukölln  fully_renovated    2.0   888.0               1990   68.48

# 1. What kind of information do we have?

In [ ]:
#apartments.shape
print(rentals.shape)
rentals.describe()

(764, 6)

            Rooms          Rent  Year_Construction       Space
count  764.000000    764.000000         764.000000  764.000000
mean     2.549738   1768.560942        1983.695026   84.656270
std      1.010826   1118.263961          48.006060   44.195338
min      1.000000    271.250000        1864.000000   14.000000
25%      2.000000   1039.500000        1959.000000   55.097500
50%      2.500000   1565.480000        2015.000000   77.600000
75%      3.000000   2170.000000        2019.000000  104.450000
max      7.000000  14207.000000        2020.000000  413.910000

We have information about :

1.  Rental appartments in different districts in Berlin.
2.  Condition of those appartments
3.  Number of rooms in those appartments
4.  Rent
5.  Construction Year
6.  Area

# 2. In which conditions are the flats?

In [ ]:
# your code

# Different conditions of the rooms in Berlin
condition_of_rooms = rentals['Condition'].unique()
print(condition_of_rooms)  

#Analysis of the conditions of the room

x = rentals['Condition'].value_counts()
print(x)

['first_time_use' 'well_kept' 'mint_condition' 'no_information'
 'fully_renovated' 'first_time_use_after_refurbishment' 'refurbished'
 'modernized' 'need_of_renovation']
first_time_use                        270
mint_condition                        143
no_information                        111
well_kept                              96
refurbished                            40
first_time_use_after_refurbishment     36
fully_renovated                        35
modernized                             29
need_of_renovation                      4
Name: Condition, dtype: int64

# 3. Where are the appartments located?

In [ ]:
# your code

region = rentals['Region']

#number of available appartments in each unique region 

regions = region.value_counts()
print(regions)

Tiergarten         171
Mitte              153
Charlottenburg      79
Neukölln            59
Köpenick            55
Wilmersdorf         53
Prenzlauer          53
Friedrichsfelde     52
Kreuzberg           47
Wedding             42
Name: Region, dtype: int64

# BONUS 4. What is the mean rent?
Have a look at:
- https://stackoverflow.com/questions/31037298/pandas-get-column-average-mean
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mean.html

In [ ]:
# your code

rent = rentals['Rent']
mean_rent = rent.mean(axis='index')  #axis = 'index' since we are taking mean of a single column
print('The average rent is', mean_rent)

The average rent is 1768.5609424083777

--- 
# Review

This section is only for the reviewing team!

Guideline how to review:
https://docs.google.com/presentation/d/1YORFwlfVQo9ogj7jR9t6_pqxmGIlpBSGubbp1UdtcBQ/edit?usp=sharing

In [ ]:
#@title Review Criteria:
%%html
<h3><input type="checkbox"> 1. Are all questions answered? <br></h3> 
<h3><input type="checkbox"> 2. Does all code run through? <br></h3> 
<h3><input type="checkbox"> 3. Are the conclusions understandable?  <br></h3> 
<h3><input type="checkbox"> 4. Are the bonus question answered?  <br></h3>

In [ ]:
input("Do you have any feedback?")