![Immoscout](https://raw.githubusercontent.com/juliandnl/redi_ss20/master/image.png)

# Project - Intro to Pandas [Filter and Group]

--- 
## The description:
Hi all! You're already familiar with the Immobilienscout 24 dataset from the last project. In this project, we will explore the dataset further by sorting, filtering and grouping.

--- 
## The dataset:
The datasets contains information about rental appartments in Berlin. 
One row is for one appartment. The dataset contains 6 columns.  
- Region: is the Berlin district, where the flat is located
- Condition: is the condition of the flat
- Rooms: The number of rooms the flat has
- Rent: Monthly rent for the flat
- Year_Construction: The year in which the house was build
- Space: How many square meters does the flat has?

--- 
## The Task:

1. How many apartments is in Mitte in a 'well-kept' condition?
2. How many apartments are there in Kreuzberg built before 1900?
3. What are the average spaces of the apartments having 4 rooms?
4. Which is the most expensive region on average and what is the maximum rent for this region?

Bonus:
5. What are the min, max and average number of rooms of the apartments in Köpenick?

In [ ]:
# Imports
import pandas as pd

In [ ]:
# Read in dataset
rentals = pd.read_csv("https://raw.githubusercontent.com/juliandnl/redi_ss20/master/berlin_rental.csv")
rentals.head()

        Region       Condition  Rooms     Rent  Year_Construction   Space
0        Mitte  first_time_use    4.0  2659.00               2019  117.20
1    Kreuzberg  first_time_use    1.0  1200.00               2020   29.33
2     Köpenick       well_kept    2.0   979.00               1997   83.61
3  Wilmersdorf       well_kept    4.0  1830.22               1900  171.18
4    Kreuzberg  first_time_use    2.0  2272.00               2020   88.27

# 1.How many apartments is in Mitte in a 'well-kept' condition?

In [ ]:
# your code
ren=rentals[(rentals['Region'] == 'Mitte') & (rentals['Condition'] == 'well_kept')]
ren

    Region  Condition  Rooms     Rent  Year_Construction   Space
15   Mitte  well_kept    2.0  1505.60               2018   75.28
272  Mitte  well_kept    3.0  1639.00               2014   96.00
392  Mitte  well_kept    1.0   924.44               2000   61.14
608  Mitte  well_kept    3.0  1800.00               2013   80.95
735  Mitte  well_kept    2.0  1350.00               2014   68.00
736  Mitte  well_kept    3.0  3500.00               2009  165.00

In [ ]:
len(ren)

6

# 2.How many apartments are there in Kreuzberg built before 1900?

In [ ]:
K19=rentals[(rentals['Region']=='Kreuzberg') & (rentals['Year_Construction']<=1900)]
K19

        Region                           Condition  ...  Year_Construction   Space
76   Kreuzberg                      first_time_use  ...               1867  236.00
401  Kreuzberg                         refurbished  ...               1895  127.00
553  Kreuzberg                      mint_condition  ...               1900  110.00
697  Kreuzberg  first_time_use_after_refurbishment  ...               1874   50.00
716  Kreuzberg                      no_information  ...               1900   46.02
720  Kreuzberg                      no_information  ...               1900   33.70
724  Kreuzberg                      no_information  ...               1900   47.13
725  Kreuzberg                      no_information  ...               1900   44.40
737  Kreuzberg                      no_information  ...               1900   32.20

[9 rows x 6 columns]

In [ ]:
len(K19)

9

# 3.What are the average spaces of the apartments by the number of rooms?

In [ ]:
# your code
# sorted list of different room #
rooms = sorted(list(set(rentals.Rooms)))
# loop over roomnumbers (rnr)
for rnr in rooms:
  # slice of the rental dataFrame with rnr rooms
  slicernr = rentals[rentals["Rooms"] == rnr]
  # list of spaces assocciated with those rooms
  spaces = slicernr["Space"]
  # sum of all Spaces
  sumofallspaces = sum(list(spaces))
  # Number of appartments with rnr rooms
  num = len(slicernr)
  # mean appartment size for this roomnumber
  mean = sumofallspaces/num
  print(rnr,'room:', mean,"m2")

1.0 room: 34.470747663551386 m2
1.5 room: 41.361111111111114 m2
2.0 room: 65.01572519083967 m2
2.5 room: 90.463125 m2
3.0 room: 99.40316666666664 m2
3.5 room: 98.0375 m2
4.0 room: 130.86333333333332 m2
4.5 room: 106.1 m2
5.0 room: 194.40052631578948 m2
6.0 room: 237.0 m2
7.0 room: 251.0 m2

In [ ]:
set(rentals.Rooms)

{1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 6.0, 7.0}

In [ ]:
rentals.groupby("Rooms").mean()[["Space"]]

            Space
Rooms
1.0     34.470748
1.5     41.361111
2.0     65.015725
2.5     90.463125
3.0     99.403167
3.5     98.037500
4.0    130.863333
4.5    106.100000
5.0    194.400526
6.0    237.000000
7.0    251.000000

# 4.Which is the most expensive region on average and what is the maximum rent for this region?

In [ ]:
rentals.groupby("Region")['Rent'].mean()

Region
Charlottenburg     1753.452532
Friedrichsfelde    1043.871731
Kreuzberg          2049.138085
Köpenick           1125.475818
Mitte              2408.725033
Neukölln           1188.114915
Prenzlauer         1996.962264
Tiergarten         1914.824795
Wedding             847.138571
Wilmersdorf        1748.646226
Name: Rent, dtype: float64

In [ ]:
rentals.groupby("Region")['Rent'].max()

Region
Charlottenburg      9774.00
Friedrichsfelde     2138.68
Kreuzberg           6450.00
Köpenick            2159.20
Mitte              14207.00
Neukölln            2295.00
Prenzlauer          5930.00
Tiergarten          4945.00
Wedding             1949.26
Wilmersdorf         5876.35
Name: Rent, dtype: float64

In [ ]:
rentals.groupby('Region')['Rent'].describe()[['mean','max']]

                        mean       max
Region
Charlottenburg   1753.452532   9774.00
Friedrichsfelde  1043.871731   2138.68
Kreuzberg        2049.138085   6450.00
Köpenick         1125.475818   2159.20
Mitte            2408.725033  14207.00
Neukölln         1188.114915   2295.00
Prenzlauer       1996.962264   5930.00
Tiergarten       1914.824795   4945.00
Wedding           847.138571   1949.26
Wilmersdorf      1748.646226   5876.35

# Bonus Question:
5. What are the min, max and average number of rooms of the apartments in Köpenick?

In [ ]:
kmmm = rentals.groupby('Region')['Rooms'].describe()[['mean','max','min']]
kmmm

                     mean  max  min
Region
Charlottenburg   2.525316  5.0  1.0
Friedrichsfelde  2.500000  4.5  1.0
Kreuzberg        2.489362  5.0  1.0
Köpenick         2.281818  4.0  1.0
Mitte            2.754902  5.0  1.0
Neukölln         2.279661  5.0  1.0
Prenzlauer       2.660377  6.0  1.0
Tiergarten       2.736842  5.0  1.0
Wedding          1.726190  4.0  1.0
Wilmersdorf      2.613208  7.0  1.0

In [ ]:
kmmmID = kmmm.reset_index()
kmmmID

            Region      mean  max  min
0   Charlottenburg  2.525316  5.0  1.0
1  Friedrichsfelde  2.500000  4.5  1.0
2        Kreuzberg  2.489362  5.0  1.0
3         Köpenick  2.281818  4.0  1.0
4            Mitte  2.754902  5.0  1.0
5         Neukölln  2.279661  5.0  1.0
6       Prenzlauer  2.660377  6.0  1.0
7       Tiergarten  2.736842  5.0  1.0
8          Wedding  1.726190  4.0  1.0
9      Wilmersdorf  2.613208  7.0  1.0

In [ ]:
kmmmID[kmmmID['Region'] == 'Köpenick']

     Region      mean  max  min
3  Köpenick  2.281818  4.0  1.0

--- 
# Review

This section is only for the reviewing team!

Guideline how to review:
https://docs.google.com/presentation/d/1YORFwlfVQo9ogj7jR9t6_pqxmGIlpBSGubbp1UdtcBQ/edit?usp=sharing

In [ ]:
#@title Review Criteria:
%%html
<h3><input type="checkbox"> 1. Are all questions answered? <br></h3> 
<h3><input type="checkbox"> 2. Does all code run through? <br></h3> 
<h3><input type="checkbox"> 3. Are the conclusions understandable?  <br></h3> 
<h3><input type="checkbox"> 4. Are the bonus question answered?  <br></h3>

In [ ]:
input("Do you have any feedback?")