![Immoscout](https://raw.githubusercontent.com/juliandnl/redi_ss20/master/image.png)

# Project - Immobilien Scout 24

--- 
## The description:
Welcome to your first project! Have you heard about Immobilienscout 24?  [Immobilienscout 24](https://https://www.immobilienscout24.de/). It the biggest platform for renting appartments in Germany. The company hires data analysts and data scientists for analyzing the market data. They are especially interested in the Berlin market. The company wants to understand where to publish advertisment.

--- 
## The dataset:
The datasets contains information about rental appartments in Berlin. 
One row is for one appartment. The dataset contains 6 columns.  
- Region: is the Berlin district, where the flat is located
- Condition: is the condition of the flat
- Rooms: The number of rooms the flat has
- Rent: Monthly rent for the flat
- Year_Construction: The year in which the house was build
- Space: How many square meters does the flat has?

--- 
## The Tasks:
1. What is the average price per square meter for different Regions?
2. Is there a difference of average room space (`Space` divided by `Rooms`) for apartments built after 2000 versus apartment built before 2000?
3. What's the percentage of the apartments in high quality condition? 
In order to answer this question let's assume that high quality conditions are: `first_time_use`, `mint_condition`, `refurbished`, `first_time_use_after_refurbishment` and `fully_renovated`. The rest we can categorize as low quality condition.

Bonus Questions:
4. We added to the dataset 2 new columns: `Posted_date` and `Rented_date`. As Immobilienscout we are interested in 2 KPIs:

A) How many apartments where posted each month? 

B) How many day does it take from posting about the apartment and renting it? We are interested in how this number change depending on the month of the posting.

5. Can you think about other KPIs for Immobilienscout? (It doesn't need to use only the data from this dataset)

In [ ]:
# Imports
import pandas as pd

In [ ]:
# install plotly
# https://plotly.com/python/pandas-backend/
!pip install plotly==4.14.3
pd.options.plotting.backend = "plotly"

Collecting plotly==4.14.3
  Downloading https://files.pythonhosted.org/packages/1f/f6/bd3c17c8003b6641df1228e80e1acac97ed8402635e46c2571f8e1ef63af/plotly-4.14.3-py2.py3-none-any.whl (13.2MB)
     |████████████████████████████████| 13.2MB 317kB/s
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly==4.14.3) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly==4.14.3) (1.15.0)
Installing collected packages: plotly
  Found existing installation: plotly 4.4.1
    Uninstalling plotly-4.4.1:
      Successfully uninstalled plotly-4.4.1
Successfully installed plotly-4.14.3

In [ ]:
# Read in dataset
rentals = pd.read_csv("https://raw.githubusercontent.com/juliandnl/redi_ss20/master/berlin_rental.csv")
rentals.tail()

          Region        Condition  Rooms    Rent  Year_Construction   Space
759      Wedding   mint_condition    1.0   959.0               2017   27.80
760      Wedding   mint_condition    1.0   649.0               2017   20.50
761  Wilmersdorf   mint_condition    4.0  2750.0               2017  110.00
762     Köpenick        well_kept    2.0  1259.0               2017   91.20
763     Neukölln  fully_renovated    2.0   888.0               1990   68.48

## 1. What is the average price per square meter for different Regions?

In [ ]:
# Your code here

## 2. Is there a difference of average room space (`Space` divided by `Rooms`) for apartments built after 2000 versus apartment built before 2000?

In [ ]:
# Your code here

## 3. What's the percentage of the apartments in high quality condition? 

In order to answer this question let's assume that high quality conditions are: `first_time_use`, `mint_condition`, `refurbished`, `first_time_use_after_refurbishment` and `fully_renovated`. The rest we can categorize as low quality condition.

In [ ]:
# Your code here

## Bonus Questions:
4. We added to the dataset 2 new columns: `Posted_date` and `Rented_date`. As Immobilienscout we are interested in 2 KPIs:

In [ ]:
from random import randrange
import datetime 
import numpy as np

base_date = datetime.datetime(2020, 1, 1, 12, 0)

# A function adding a posting date from 2020.
def add_posted_date(base_date=base_date):
    return base_date + datetime.timedelta(days=randrange(365))

rentals['Posted_date'] = rentals.Year_Construction.apply(lambda x: add_posted_date())

# A function adding a rental date (which is after the posting date).
def add_rented_date(posted_date):
    return posted_date + datetime.timedelta(days=randrange(60))

rentals['Rented_date'] = rentals.Posted_date.apply(lambda x: add_rented_date(x))

rentals.head()

        Region       Condition  ...         Posted_date         Rented_date
0        Mitte  first_time_use  ... 2020-06-27 12:00:00 2020-07-15 12:00:00
1    Kreuzberg  first_time_use  ... 2020-08-31 12:00:00 2020-10-01 12:00:00
2     Köpenick       well_kept  ... 2020-03-03 12:00:00 2020-04-16 12:00:00
3  Wilmersdorf       well_kept  ... 2020-03-08 12:00:00 2020-03-24 12:00:00
4    Kreuzberg  first_time_use  ... 2020-05-24 12:00:00 2020-07-03 12:00:00

[5 rows x 8 columns]

### A) How many apartments where posted each month?

In [ ]:
# Your code here

### B) How many day does it take from posting about the apartment and renting it? We are interested in how this number change depending on the month of the posting.

In [ ]:
# Your code here

## 5. Can you think about other KPIs for Immobilienscout? (It doesn't need to use only the data from this dataset)

Your answer

--- 
# Review

This section is only for the reviewing team!

Guideline how to review:
https://docs.google.com/presentation/d/1YORFwlfVQo9ogj7jR9t6_pqxmGIlpBSGubbp1UdtcBQ/edit?usp=sharing

In [ ]:
#@title Review Criteria:
%%html
<h3><input type="checkbox"> 1. Are all questions answered? <br></h3> 
<h3><input type="checkbox"> 2. Does all code run through? <br></h3> 
<h3><input type="checkbox"> 3. Are the conclusions understandable?  <br></h3> 
<h3><input type="checkbox"> 4. Are the bonus question answered?  <br></h3>

In [ ]:
input("Do you have any feedback?")