# Data Structures in Python

There are different several different data structures in Python. One you have already got to know: Pandas Dataframes. Today we will talk about two more data structures: Lists and Dictionaries. They are extremely powerful and widely used. How and why, you will see in the session.

## Questions

1.   How many car manufacturers are there?
2.   How many different cars models does Volkswagen produce?

In [10]:
# Imports
import pandas as pd
import requests
pd.options.plotting.backend = "plotly"

### 1. How many car markers are there?

In [11]:
# fetch the data from the API
url = " https://vpic.nhtsa.dot.gov/api/vehicles/GetAllMakes?format=json"
all_makes = requests.get(url, timeout=5)    # The get() method sends a GET request to the specified url., timeout: indicates how many seconds to wait for the client to make a connection and/or send a response.
all_makes = all_makes.json()["Results"]     # Selects the values from the "Results" in the first element of the JSON structure

In [ ]:
# inspect the data
all_makes[0:5] # gives the first five elements of a list - called slice notation (list[start:end])

[{'Make_ID': 11897, 'Make_Name': ' MID-TOWN TRAILERS'},
 {'Make_ID': 4877, 'Make_Name': '1/OFF KUSTOMS, LLC'},
 {'Make_ID': 11257, 'Make_Name': '102 IRONWORKS, INC.'},
 {'Make_ID': 6387, 'Make_Name': '17 CREEK ENTERPRISES'},
 {'Make_ID': 9172, 'Make_Name': '1M CUSTOM CAR TRANSPORTS, INC.'}]

In [ ]:
type(all_makes)

list

New data type! **Lists**! 
Why are lists so powerful:
- We can store all sorts of information inside them, even other data structures (only one data type per list)
- They are mutable: We can change lists and their content, we can add and delete elements of a list
- Lists can be transformed to dataframes

- Is written as a list of comma-separated values (items) between square brackets. Important thing about a list is that items in a list need not be of the same type.

In [ ]:
# accessing elements in lists
# To access values in lists, we use the square brackets for slicing along with the index or indices to obtain value available at that index. For example:
all_makes[1] # gives us the second element of the list, since the index always starts at 0

{'Make_ID': 4877, 'Make_Name': '1/OFF KUSTOMS, LLC'}

In [ ]:
#  -1 provides the list’s last element, -2 provides the list’s second last item, and so on.
all_makes[-1]

{'Make_ID': 11713, 'Make_Name': 'ZZKNOWN'}

In [ ]:
# add an element to a list
all_makes.append({'Make_ID': 1340, 'Make_Name': '1A Kathis carbrand'})

In [ ]:
all_makes[-1] # constists of two key-value pairs

{'Make_ID': 1340, 'Make_Name': '1A Kathis carbrand'}

In [ ]:
# Answering our initial question: Here is the list of all makes
makes_list = [make["Make_Name"] for make in all_makes]
makes_list

In [ ]:
len(makes_list)

10687

**Conclusion:**
There are 10689 different car makers in the world.

New data type! **Dictionaries**!
What makes dictionaries so powerful?
- Key-Value pairs
- Mutable
- can be referred to by using the key name.
- we can store them as json

In [ ]:
type(all_makes[0])

dict

In [ ]:
all_makes[0]

{'Make_ID': 11897, 'Make_Name': ' MID-TOWN TRAILERS'}

In [ ]:
all_makes[0].keys()

dict_keys(['Make_ID', 'Make_Name'])

In [ ]:
all_makes[0].values()

dict_values([11897, ' MID-TOWN TRAILERS'])

In [ ]:
# Answering our initial question: Here is the dictionary of all makes
makes_dict = {make["Make_Name"]:make["Make_ID"] for make in all_makes}
makes_dict
len(makes_dict)

10687

### 2. How many different cars does Volkswagen produce?
In order to solve the second question, we can look for APIs to pull the information!

In [ ]:
# Check if a certain key is in a dictionary - in the values above, no Volkswagen are listed
'Volkswagen' in makes_dict.keys()

False

In [ ]:
url = " https://vpic.nhtsa.dot.gov/api/vehicles/GetModelsForMake/VOLKSWAGEN?format=json"
vw_models = requests.get(url, timeout=5)
vw_models = vw_models.json()["Results"]

In [ ]:
model_names = [model["Model_Name"] for model in vw_models]

In [ ]:
len(model_names)

44


# Data Structures

Data structures are a way of organizing and storing data so that information can be accessed and worked with efficiently. They define the relationship between the data, and the operations that can be performed on the data. There are many various kinds of data structures defined that make it easier for the data scientists and computer engineers alike to concentrate on the main picture of solving larger problems rather than getting lost in the details of data description and access.

![image](https://av-eks-blogoptimized.s3.amazonaws.com/17699Append-a-Dictionary-to-a-list-in-Python-5-i2tutorials.png)

`list` :
- Mutable i.e. contents can be modified by methods such as append()
- Sequence of Python objects of ANY type
- 0-based index 

`dictionnaries` :
- Mutable
- key-value pairs, with the requirement that the keys are unique (within one dictionary)

# 1. Lists

### Creating a list

In [1]:
# Creating an empty list
empty = []
print(empty)
type(empty)

[]

list

In [ ]:
# using square brackets with initial values
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
numbers

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# By mixing data types: Lists can contain multple data types
mixed = ['VW', 19000, 22000.00]
print(mixed)

['VW', 19000, 22000.0]

In [2]:
# creating a multi-dimensional list (nesting a list inside a list)
nested = [['ReDi', 'is'], ['fun']]
print(nested)

[['ReDi', 'is'], ['fun']]

#### **Exercise**
Create a list named ***first_list*** containing a name of a car brand, a price and a kilometer amount.

In [ ]:
# your code here

### Access item within a list
Items in lists can be accessed using indices in a similar fashion to strings.

![image](https://media.geeksforgeeks.org/wp-content/uploads/List-Slicing.jpg)

In [ ]:
# access first item (remember: index starts at 0, NOT at 1)
numbers[0]

1

In [ ]:
# access items in reverse, starting from the last indice
numbers[-2] # second to last item

7

In [ ]:
# access multiple items within a list from an index to the end of the list
numbers[-7:-1]
numbers[1:]

In [ ]:
# access all items until specific index
numbers[:1]

In [ ]:
# access all values between two indices
numbers[4:6]

In [3]:
# access elements in a nested list
nested[1][0]

'fun'

#### **Exercise**
- Access the first element of the list 'nested'. 
- Of what type is the first element of this list 'nested'?
- Access the last element from the list 'mixed'
- Get the length of the list 'numbers'
- Extract items 0 to 5 from makes_list
- Extract items 1:3 from makes_list

In [ ]:
# your code here

### Since lists are a mutable data type, once a list has been created:

* Elements can be modified.
* Individual values can be replaced.
* The order of elements can be changed.
* Elements can be added and deleted.

### Replace element

In [25]:
# currently the first value of letters is 'a'
letters = ["a", "b"]
letters[0]

'a'

In [26]:
# we can overwrite this value, by specifiying a new value for the same index
letters[0] = 'Hey I am new'
letters

['Hey I am new', 'b']

### Adding and deleting elements

In [27]:
# append to the end of a list
makes_list.append("brandnew carbrand")

print("brandnew carbrand" in makes_list)
print(makes_list.index("brandnew carbrand"))

True
10690

In [28]:
# Extending with a dictionary
my_dict = {"car_brand":"tesla"}

In [29]:
more_letters = ['e', 'f', 'g']
letters.append(my_dict)
letters

['Hey I am new', 'b', {'car_brand': 'tesla'}]

In [22]:
# insert an element at the specific index
makes_list.insert(0, 'Tesla2')
makes_list[0:5]

['Tesla2', 'Tesla2', 'Tesla2', 'Tesla2', ' MID-TOWN TRAILERS']

In [31]:
# deleting an element
print(letters)
del letters[2]
print(letters)

['Hey I am new', 'b', {'car_brand': 'tesla'}]
['Hey I am new', 'b']

# 2. Dictionaries 
Dictionaries are mappings of key value pairs.

### Creating a dictionary

In [33]:
# Create an empty dict using constructor
dictionary = dict()
dictionary

{}

In [34]:
# Create an empty dict using curley braces
dictionary = {}
dictionary

{}

In [37]:
# Use curley braces to create a dictionary with initial key/values
cars = {"1": "Tesla",
        '2': 'VW',
        '3': ['BMW', 'Hyundai']}
cars

{'1': 'Tesla', '2': 'VW', '3': ['BMW', 'Hyundai']}

#### **Exercise**

- Create a dictionnary `country_main_city` with keys


 `['France', 'Germany', 'Syria', 'Turkey', 'Nigeria', 'Argentina']`

 And values 

` ['Paris', 'Berlin', 'Damascus', 'Ankara', 'Abuja', 'Buenos Aires']`

In [ ]:
# your code here

#### **Exercise**

Using the dictionnary `country_main_city` and extract the capital of Nigeria

In [ ]:
# your code here

### Access an element

In [45]:
# accessing an element using key
country_dictionary['France']

'Paris'

In [49]:
# accessing an element using get()
print(country_dictionary.get('France'))

Paris

### Add a key/value pair to an existing dictionary

In [41]:
# adding Ghana
country_dictionary["Ghana"] = "Accra"
country_dictionary

{'France': 'Paris',
 'Germany': 'Berlin',
 'Syria': 'Damascus',
 'Turkey': 'Ankara',
 'Nigeria': 'Abuja',
 'Argentina': 'Buenos Aires',
 'Ghana': 'Accra'}

In [ ]:
# adding Nigeria
country_dictionary['Nigeria'] = 'Lagos'

### Update value for existing key

In [ ]:
# initially the value for France is Paris, but we assign a new value to the key
country_dictionary['France'] = 'Marseille'
country_dictionary

### **Exercise**

Add the capital of Italy to the dictionnary `country_main_city`

In [ ]:
# your code here

### Get keys

In [43]:
list(country_dictionary.keys())

['France',
 'Germany',
 'Syria',
 'Turkey',
 'Nigeria',
 'Argentina',
 'Ghana',
 ('France', 'Monaco')]

### Get values

In [44]:
list(country_dictionary.values())

['Paris',
 'Berlin',
 'Damascus',
 'Ankara',
 'Abuja',
 'Buenos Aires',
 'Accra',
 ['test', '1']]

## Additional Resources:


* https://www.geeksforgeeks.org/python-data-structures/
* https://realpython.com/lessons/lists-mutable-dynamic/